body{
    height: 100vh;
    width: 100%;
    font-family: 'Orbitron', sans-serif; 
    color: black;
    background-image: linear-gradient(
        120deg,
        hsl(0deg 0% 100%) 0%,
        rgb(255, 255, 255) 10%,
        rgb(252, 251, 250) 19%,
        rgb(223, 223, 219) 29%,
        hsl(54deg 4% 63%) 39%,
        hsl(54deg 4% 55%) 48%,
        hsl(54deg 4% 63%) 58%,
        rgb(228, 228, 226) 68%,
        rgb(255, 255, 255) 78%,
        rgb(255, 255, 253) 88%,
        hsl(0deg 0% 100%) 100%
      );
}
main{
    display: flex;
}
/*section left*/
#container-h1-image{
    height: 70vh;
    width: 60%;
    background-image: url(/atom.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0px 0px 5px 0px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    font-style: italic;
    margin-top: 10%;
    color: aliceblue;
    font-family: 'Orbitron', sans-serif;
}
/*section Right*/
#right{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 2%;
}
h2{
    font-size: 2.5vw;
    text-align: center;
}
#research-links-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.research-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fa-globe{
    position: relative;
    overflow: hidden;
    top: 0;
    font-size: 7vw;
    cursor: pointer;   
    animation: rotation 5s infinite;
}
@keyframes rotation{
    from{transform: rotateX(0);}
    to{transform: rotateY(180deg);}
}
h3{
    font-size: 2vw;
}
/*footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 100%;
    color: black;   
}
article{
    width: 65vw;
    font-weight: bold;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
#h4-top{
    margin-left: 25%;
}
#h4-bottom{
    margin-right: 25%;  
}

/*
.fa-globe{
    font-size: 5vw;
    cursor: pointer;
    color: blue;
    /* animation: animation-globes 3s infinite; */
/* }
h3{
    font-size: 1.5vw;
}
footer{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation-globes{
   
} */
