body{ 
    position: relative;
    background-color: black;
    color: aliceblue;
    font-size: 2vw;
    min-height: 100vh;
    height: 100%;
 } 
#particles-js{ 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #090b1a; 
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1237px-NASA_logo.svg.png"); 
    background-repeat: no-repeat; 
    background-size: 20%; 
    background-position: 51% 50%;   
} 
.z-index{
    z-index: 2;
}
header{
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}
input{
    background-color: #033A92;
    color: rgb(241, 240, 255);
    text-align: center;
    height: 4vh;
    width: 50%;
    font-size: 3vw;
    border: none;
    border-radius: 4px;
}
#container-pictures{
    padding-bottom: 200px;
    width: 100%;
    height: 100%;  
}
.container-one-picture{
    position: relative;
    height: 60vh;
    width: 60vw;
    margin: 0 auto;
    margin-top: 10vh;   
}
.images{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
#img-rocket{
    /* display: none; */
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 47.5%;
    width: 5vw;
    height: 5vw;
    background-image: url(/space-shuttle-solid.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    transform: rotate(-90deg);
    background-position: center;
    background-color: #033A92;
    border-radius: 40px;
    margin-bottom: 20px;
    cursor:pointer;
}

.animation-rocket{
    animation: animationRocket forwards;
    animation-duration: 2.3s;
}
@keyframes animationRocket {
    0%{bottom:23px}
    3%{bottom:17px}
    6%{bottom:23px}
    9%{bottom:17px}
    12%{bottom:23px}
    15%{bottom:17px}
    18%{bottom: 23px;}
    21%{bottom:17px}
    24%{bottom: 23px;}
    30%{bottom:250px}
    100%{bottom:1800px;} 
}
