body{
    position: relative;
    background-color: black;
    color: aliceblue;
    min-height: 100vh;
    font-size: 2vw;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.button{
    z-index: 5;
}
header{
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
}
.research-type{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#title-img{
    font-size: 4vw;
    margin: 2%;
    text-align: center;
}
#container-picture{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
}
#container-picture img{
    position: absolute;
    height: 100%;
    width: 80%;
    z-index: 10;
    opacity: 1;
}
.waiting-animation {
    width: 70vw;
    height: 70vh;
    background: #000000;
}
h2{
    font-size: 3vw;
    padding-bottom: 2%;
}
#container-texte{
    margin-top: 3%;
    font-size: 2vw;
    padding: 2%;
}
