body{ 
    position: relative;
    background-color: black;
    color: aliceblue;
    font-size: 2vw;
    min-height: 100vh;
 } 
/*background with partcles animation and logo NASA*/
#particles-js{ 
    position: absolute;
    top: 0;
    left: 0;
    height: 99%;
    width: 100%;
    background-color: #090b1a; 
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1237px-NASA_logo.svg.png"); 
    background-repeat: no-repeat; 
    background-size: 20%; 
    background-position: 50% 30%; 
} 
/*header section*/
header{
    height: 20%;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
}
.research-type{
    position: relative;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
.button{
    font-size: 0.8vw;
    width: 80px;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    margin-top: 2%;
}
input{
    background-color: #033A92;
    color: rgb(241, 240, 255);
    text-align: center;
    font-size: 1vw;
    border: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #FC3A1B;
    padding: 5px;
    color: aliceblue;
}
/*main section*/
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}
#title-img{
    position: relative;
    font-size: 4vw;
    margin: 2%;
    text-align: center;
}
/*set in relative to recieve the container-picture-img
with JS*/
#container-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 70vh;
}
#container-picture img{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 1;
}

#container-texte{
    position: relative;
    max-width: 100%;
    height: 100%;
    font-size: 2vw;
    padding: 4%;
}
h2{
    font-size: 3vw;
    padding-bottom: 2%;
}
