body{
    background-color: gray;
}

#image1{
    height: 300px;
    width: 300px;
}
.images{
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}