body{ 
    position: relative;
    background-color: black;
    color: aliceblue;
    font-size: 2vw;
    min-height: 100vh;
 } 
/*background with partcles animation and logo NASA*/
#particles-js{ 
    position: absolute;
    top: 0;
    left: 0;
    height: 99%;
    width: 100%;
    background-color: #090b1a; 
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1237px-NASA_logo.svg.png"); 
    background-repeat: no-repeat; 
    background-size: 20%; 
    background-position: 50% 50%;   
} 
/*z-indexs superior (=2 for all the elemnts) against the background particles
so the background particles stay available for the user
and against the rocket
so the rocket pass below the text and the picture*/
.z-index{
    z-index: 2;
}
/*header section*/
header{
    height: 20%;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
}
.research-type{
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}
input{
    background-color: #033A92;
    color: rgb(241, 240, 255);
    text-align: center;
    font-size: 1vw;
    border: none;
    border-radius: 5px;
    width: 200px;
}
::-webkit-calendar-picker-indicator{
    background-color: #FC3A1B;
    padding: 5px;
    color: aliceblue;
}
#date-today::-webkit-calendar-picker-indicator{
    pointer-events: none;
    background: transparent;
}
#date-today{
    padding-left: 10%;
}
.button{
    font-size: 0.8vw;
    font-weight: bold;
    width: 80px;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    margin-top: 2%;
}
/*main section*/
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/*picture part*/
#title-img{
    font-size: 4vw;
    margin: 2%;
    padding-top: 2%;
    text-align: center;
}
#container-picture{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 0vh;
}
#container-picture img{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 1;
}
/*explanation part*/
#container-texte{
    width: 90%;
    height: 100%;
    font-size: 2vw;
    margin-left: 3%;
    margin-bottom: 3%;
    line-height: 2.3vw;
}
h2{
    font-size: 3vw;
    margin-top: 1%;
    padding: 2%;
}

/*rocket*/
/*the img rocket must be absolute to be clicked (relative causes problem with the
absolute background particles);
so a relative container is made to contain the absolute rocket and let it
fill its mission*/
#container-rocket{
    position: relative;
    display: flex;
    justify-content: center;
    height: 7vw;
    width: 100%;
}
#img-rocket{
    display: none;
    position: absolute;
    z-index: 1;
    width: 5vw;
    height: 5vw;
    background-image: url(/space-shuttle-solid.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    transform: rotate(-90deg);
    background-position: center;
    background-color: #033A92;
    border-radius: 40px;
    margin-bottom: 20px;
}
/*this animation is added to the rocket element with js*/
.animation-rocket{
    animation: animationRocket forwards;
    animation-duration: 2.3s;
}
@keyframes animationRocket {
    0%{bottom:23px}
    3%{bottom:17px}
    6%{bottom:23px}
    9%{bottom:17px}
    12%{bottom:23px}
    15%{bottom:17px}
    18%{bottom: 23px;}
    21%{bottom:17px}
    24%{bottom: 23px;}
    30%{bottom:250px}
    100%{bottom:1800px} 
}
