body{
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 254, 254);
}
#particles-js{ 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 99%;
    width: 100%;
    background-color: #000000; 
} 
main{
    display: flex;
    position: relative;
    z-index: 2;
}
/*section left*/
#container-image{
    height: 70vh;
    width: 60%;
    background-image: url(../images/atom.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0px 0px 5px 0px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    font-style: italic;
    margin-top: 10%;
    color: aliceblue;
    font-family: 'Orbitron', sans-serif;
}
/*section Right*/
#right{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2%;
}
h2{
    font-size: 1.7vw;
    line-height: 2.3vw;
    text-align: center;
    text-shadow: 5px 5px 20px #033A92;
}
#research-links-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    width: 100%;
}
a{
    color: white; 
    width: 100%;
    height: 100%;
}
.fa-globe{
    position: relative;
    overflow: hidden;
    top: 0;
    font-size: 5vw;
    margin-bottom: 5%;
    cursor: pointer; 
    transition: 1s;
}
h3{
    margin-top: 5%;
    font-size: 1.75vw;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 5px 5px 20px #033A92;
}
/*footer*/
footer{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 100%;
}
article{
    width: 65vw;
    font-weight: bold;
    font-size: 1.25vw;
    text-align: justify;
}
h4{
    text-shadow: 5px 5px 20px #c23d14;
}
#h4-top{
    margin-left: 25%;
}
#h4-bottom{
    margin-right: 25%;  
}
