/*header section*/
header{
    position: relative;
    height: 15vh;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    font-family: var(--main-font-family-nasa);
}
.research-type{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    height: 15vh;
}
input{
    background-color: var(--main-color-nasa-blue);
    color: var(--main-color-nasa-white);
    text-align: center;
    font-size: 1vw;
    height: 2vw;
    border: none;
    border-radius: 5px;
    width: 200px;
}
::-webkit-calendar-picker-indicator{
    background-color: var(--main-color-nasa-red);
    height: 2vw;
    padding-top: 1vw;
    color: var(--main-color-nasa-white);
}
#date-selected::-webkit-calendar-picker-indicator{
    cursor:pointer;
}
#date-today::-webkit-calendar-picker-indicator{
    pointer-events: none;
    background: transparent;
}
#date-today{
    padding-left: 10%;
}
.button{
    font-size: 0.8vw;
    font-weight: bold;
    color: var(--main-color-nasa-red);
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    padding: 2%;
    margin-top: 2%;
    cursor:pointer;
}
/*main section*/
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
/*picture part*/
#title-img{
    font-size: 4vw;
    margin: 2%;
    padding-top: 2%;
    text-align: center;
}
#container-picture{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 70vh;
}
#container-picture img{
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    z-index: 10;
    opacity: 1;
}
/*explanation part*/
#container-texte{
    font-family: 'Roboto', sans-serif;
    width: 90%;
    height: 100%;
    font-size: 2vw;
    margin-left: 3%;
    margin-bottom: 3%;
    line-height: 3vw;
}
h2{
    font-size: 3vw;
    margin-top: 1%;
    padding: 2%;
}
.animation-rocket{
    animation: animationRocket forwards;
    animation-duration: 2.3s;
}
@keyframes animationRocket {
    0%{bottom:23px}
    3%{bottom:17px}
    6%{bottom:23px}
    9%{bottom:17px}
    12%{bottom:23px}
    15%{bottom:17px}
    18%{bottom: 23px;}
    21%{bottom:17px}
    24%{bottom: 23px;}
    30%{bottom:250px}
    100%{bottom:1950px} 
}


