/*header section*/
header{
    position: relative;
    height: 15vh;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    font-family: var(--main-font-family-nasa);
}
.research-type{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    height: 15vh;
    padding-top: 5%;
}
h3{
    text-align: center;
}
input{
    background-color: var(--main-color-nasa-blue);
    color: var(--main-color-nasa-white);
    text-align: center;
    font-size: 1vw;
    height: 2vw;
    border: none;
    border-radius: 5px;
    width: 200px;
}
::-webkit-calendar-picker-indicator{
    background-color: var(--main-color-nasa-red);
    height: 2vw;
    padding-top: 1vw;
    color: var(--main-color-nasa-white);
}
#date-selected::-webkit-calendar-picker-indicator{
    cursor:pointer;
}
#date-today::-webkit-calendar-picker-indicator{
    pointer-events: none;
    background: transparent;
}
#date-today{
    padding-left: 10%;
}
.button{
    font-size: 0.8vw;
    font-weight: bold;
    color: var(--main-color-nasa-red);
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    padding: 2%;
    margin-top: 2%;
    cursor:pointer;
}

/*rocket*/
.animation-rocket{
    animation: animationRocket forwards;
    animation-duration: 2.3s;
}
@keyframes animationRocket {
    0%{bottom:0%}
    3%{bottom:20%}
    6%{bottom:0%}
    9%{bottom:20%}
    12%{bottom:0%}
    15%{bottom:20%}
    18%{bottom: 0%;}
    21%{bottom:20%}
    24%{bottom: 0%;}
    30%{bottom:250px}
    100%{bottom:1500%} 
}


@media  screen and (max-width: 950px){

    .research-type{
        width: 20%;
    }
    h3{
        font-size: 2vw;
        width: 100%;
    }
    input{
        width: 70%;
        font-size: 1.5vw;
    }
    .button{
        font-size: 1.5vw;
    }
}