/*header*/
header{
    position: relative;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
}
input{
    background-color: var(--main-color-nasa-blue);
    color: var(--main-color-nasa-white);
    text-align: center;
    width: 70%;
    font-size: 1.7vw;
    border: none;
    border-radius: 4px;
    padding: 1%;
}
#button{
    font-size: 1.5vw;
    padding: 0.2%;
    border-radius: 5px;
    color: var(--main-color-nasa-red);
    cursor:pointer;
}
.container-one-picture{
    position: relative;
    height: 75vh;
    width: 60vw;
    margin: 0 auto;
    margin-top: 7vh;
    margin-bottom: 7vh;      
}
.images{
    z-index: 2;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
}
/*rocket*/
.animation-rocket{
    animation: animationRocketPage2 forwards;
    animation-duration: 2.3s;
}
@keyframes animationRocketPage2 {
    0%{bottom:23px}
    3%{bottom:17px}
    6%{bottom:23px}
    9%{bottom:17px}
    12%{bottom:23px}
    15%{bottom:17px}
    18%{bottom: 23px;}
    21%{bottom:17px}
    24%{bottom: 23px;}
    30%{bottom:250px}
    100%{bottom:10100px} 
}

